$background: #fffffe;
$headline: #232e31;
$text: #445a64;
$buttonColor: #2CB67D;
$buttonColorHovered: #249465;
$buttonColor-33: #78c64433;
$buttonDisabled: rgb(97, 96, 96);
$footer: rgb(210, 245, 251);
$subfooter: rgba(142, 231, 247, 0.75);
$links: rgb(0, 0, 180);
$footerhover: rgb(118, 206, 226);
$navbar: rgb(210, 245, 251);
$labelForms: black;
$buttonBlue: #3DA9FC;
$buttonBlueHover: #3286c7;
