@import "../Variables/Variables.scss";

.aboutus{
    
    img{
        border-radius: 50%;
        bottom: 1rem;
        -webkit-box-shadow: 5px 5px 15px 5px #000000; 
        box-shadow: 5px 5px 15px 5px #000000;
        float: none;
    }

    li{
        display:grid;
        grid-template-columns: 20% 10% 40% 30%;
    }

    p{
        text-align:left;
    }

    pre{
        margin-top: 1.5rem;
        margin-right: 1rem;
    }
}