@import '../Variables/Variables.scss';


.Map {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 4rem 3rem;

  .mapbox {
    margin-top: 1rem;
    border: 2px solid $headline;
    border-radius: 10px;
  }
  .userContainerallroute{
    width: 20vw;
    text-decoration: none;

    img {
      height: 30rem;
      max-height: 15rem; 
      border-radius: 50%;
    }
  }

  .infoContainer {
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
    margin-top: 1rem;
    align-items: baseline
    
  }
  
  .restrictionContainer {
    .restrictionsP {
      text-align:left;
      font-weight: bold;
      padding-left: 2rem;
    }
  }

  p {
    text-align:left;
    margin-top: 0;
    font-weight: bold;
  }


  .buttons{
    display:flex;
    justify-content: center;
    align-self: flex-end;
  }

  .infoUserAndButtons{
    display:grid;
    margin-left: 1rem;
  }

  .priceH2 {
    margin-bottom: 0;
  }
}
