@import "../Variables/Variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@150;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Symbols+2&display=swap');

.App {
  background-color: $background;
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  text-align: center;
  position: sticky;
  top: 15vh;
  overflow-x: hidden;

  .back-to-top {
    position: fixed;
    bottom: 35vh;
    right: 1vw;
    z-index: 99999;
    border: none;
    outline: none;
    background-color: $buttonColorHovered;
    color: white;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 999999px;
    font-size: 1.5rem;
  }

  .back-to-top:hover {
    background-color: $buttonColorHovered;
  }
  
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $headline;
}

p {
  color: $text;
}

.cadaLinea {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.2em;
  padding-top: 1rem;
  color: $headline;
}

.button {
  outline: none;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: $background;
  background-color: $buttonColor;
  margin: 0.5rem;
  padding: 0.9rem 1.5rem;
  border: 0;
  border-radius: 1.5rem;
  transition: background-color 500ms ease-in-out;

  &:hover {
    background-color: $buttonColorHovered;
    cursor: pointer;
  }
}

.buttonBlue {
  outline: none;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: $background;
  background-color: $buttonBlue;
  margin: 0.5rem;
  padding: 0.9rem 1.5rem;
  border: 0;
  border-radius: 1.5rem;
  transition: background-color 500ms ease-in-out;

  &:hover {
    background-color: $buttonBlueHover;
    cursor: pointer;
  }
}

.buttonDisabled {
  outline: none;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: $background;
  background-color: $buttonDisabled;
  margin: 0.5rem;
  padding: 0.9rem 1.5rem;
  border: 0;
  border-radius: 1.5rem;
}
/* 
.containAll{
  display: flex;
  margin-top: 10px;
}

.link{
  text-decoration: none;
  color: inherit;
} */