@import '../Variables/Variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@150;200;300;400;500;600;700;800;900&display=swap');

.App {
  background-color: $background;
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  text-align: center;
  position: sticky;
  top: 15vh;

  .back-to-top {
    position: fixed;
    bottom: 20vh;
    right: 2vw;
    z-index: 99999;
    border: none;
    outline: none;
    background-color: $buttonColor;
    color: white;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 999999px;
    font-size: 1.5rem;
  }

  .back-to-top:hover {
    background-color: $buttonColorHovered;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $headline;
}

p {
  color: $text;
}

.button {
  margin: 0.5rem;
  border: none;
  font-family: inherit;
  border-radius: 9999px;
  font-weight: bolder;
  padding: 1rem 3rem;
  background-color: $buttonColor;
  color: $background;
  transition: background-color 0.5s ease-in-out;

  &:hover {
    background-color: $buttonColorHovered;
    cursor: pointer;
  }
}

.buttonBlue {
  margin: 0.5rem;
  border: none;
  font-family: inherit;
  border-radius: 9999px;
  font-weight: bolder;
  padding: 1rem 3rem;
  background-color: $buttonBlue;
  color: $background;
  transition: background-color 0.5s ease-in-out;

  &:hover {
    background-color: $buttonBlueHover;
    cursor: pointer;
  }
}
