@import "../Variables/Variables.scss";

.CardRoute {
  text-align: start;
  margin-top: auto;
  margin-bottom: auto;

  h5 {
    display: flex;
    margin: 0.5rem;

    .icon {
      margin-top: auto;
      margin-bottom: auto;
      margin-right: 0.5rem;
    }
  }
}

.buttonx {
  color: $text;
  border-radius: 9999px;
  border-color: #ef4565;
  background-color: white;
  margin-left: 1rem;
  font-family: inherit;
  font-weight: bold;
}
