.CardUser {
  display:flex;
  align-items:flex-start;
  flex-direction: column;


  img{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    margin: 1rem;
    margin-left: 3rem;

  }
  h5{
    margin:0.2rem;
  }
}
