@import '../Variables/Variables.scss';

.CardUser {
  margin: auto;

  img {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
  }
  h5 {
    margin: auto;
  }

  &:focus {
    outline: none;
  }
}
