.CardUser {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 0.5rem;
  text-decoration: none !important;

  img {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    margin: 1rem;
  }
  h5 {
    margin: 0.2rem;
  }

  &:focus {
    outline: none;
  }

  a {
    text-decoration: none;
  }
}
