@import '../Variables/Variables.scss';

.Footer {
  width: 100vw;
  font-weight: normal;
  display: grid;
  grid-template-columns: 10% 8% 2% 16% 2% 22% 2% 18% 2% 8% 10%;
  margin: 0;
  text-align: left;
  background-color: $buttonColor;
  justify-items: center;
  margin-top: 1rem;
  padding-top: 5vh;
  padding-bottom: 1.5rem;
  transition: background-color 0.5s ease-in-out;

  // &:hover {
  //   background-color: $footerhover;
  // }

  .cosasAbajo {
    width: 100%;
    margin-left: 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: -1rem;
  }

  a {
    text-decoration: underline;
    color: $background;
  }

  hr {
    // height: 80%;
    mix-blend-mode: screen;
    min-width: min-content;
  }

  .Link {
    text-decoration: none;
    align-self: center;
  }

  .Link:hover {
    text-decoration: underline;
    transition: text-decoration 0.5s ease-in-out;
  }

  .Info {
    align-self: center;
    h3 {
      color: $background
    }
  }

  .legal {
    width: 100%;
  }

  .help {
    width: 100%;
    margin-left: 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: -1rem;
  }

  .helpcita {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  .titulo {
    justify-content: center;
    display: flex;
    margin-top: 0.5rem;
    color: $background
    
  }

  .botonBandera {
    border: none;
    cursor: pointer;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block;
  }

  .banderas {
    width: 2rem;
    height: 2rem;
  }
  .languages {
    width: 100%;
  }
}
