@import '../Variables/Variables.scss';

.Homepage {
  padding: 1.25rem;
  padding-top: 0;

  @media only screen and (min-width: 768px) {
    padding: 5rem;
    margin-top: 0;
  }

  .searchBarSection {
    // display: grid;
    // place-items: center;
    padding: 2rem 0;
    background-color: $buttonColor;

    @media only screen and (min-width: 768px) {
      padding: 2rem;
    }

    @media only screen and (min-width: 1024px) {
      padding: 5rem;
    }
  }

  .homepageImage {
    width: 100%;
    margin-bottom: 1.25rem;
    border-radius: 0.75rem;

    @media only screen and (min-width: 1024px) {
      float: left;
      width: 40%;
      margin-left: 5%;
      margin-right: 5%;
    }
  }

  article {
    @media only screen and (min-width: 1024px) {
      float: left;
      width: 50%;
      text-align: left;
      padding-top: 2rem;
    }

    h1 {
      margin-left: 1.25rem;
      font-weight: 600;
      font-size: 1.5rem;
      line-height: 2rem;
    }

    .description {
      margin-left: 1.25rem;
      font-weight: 600;
    }

    .detail {
      font-weight: 300;
      margin-left: 1.25rem;
    }

    .button {
      margin-left: 1.25rem;
    }
  }

  .secciones {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .sectionAbove {
    @media only screen and (min-width: 768px) {
      padding: 1.5rem;
    }

    @media only screen and (min-width: 1024px) {
      margin-top: 0rem;
    }

    h1 {
      font-weight: 600;
    }
  }

  .sectionBelow {
    @media only screen and (min-width: 768px) {
      padding: 1.5rem;
    }

    @media only screen and (min-width: 1024px) {
      margin-top: 28rem;
    }

    h1 {
      font-weight: 600;
    }

    .belowContainer {
      @media only screen and (min-width: 1024px) {
        display: flex;
        align-items: center;
        margin-top: 1rem;
      }

      div {
        @media only screen and (min-width: 1024px) {
          margin: 0 5rem;
        }

        h3 {
          margin-bottom: 0;
        }

        p {
          margin-top: 0;
        }

        img {
          height: 12rem;
          width: 12rem;
          object-fit: fill;
        }
      }
    }
  }
}
