@import '../Variables/Variables.scss';

.LandingPage {
  padding: 5rem;

  .upperSection {
    padding-left: 20rem;
    padding-right: 20rem;
  }

  .logo {
    width: 80%;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    margin-bottom: 1rem;

    @media only screen and (min-width: 768px) {
      margin-left: 5rem;
      margin-right: 5rem;
    }
  }

  h4 {
    margin-top: 0;
    font-weight: 600;
  }

  p {
    margin-top: 0;
    font-weight: 600;
  }

  .lowerSection {
    display: flex;
    vertical-align: center;
    align-items: center;
    justify-content: center;

    div {
      width: 30%;
      margin-left: 5rem;
      margin-right: 5rem;
    }

    .SVGs {
      height: 15rem;
      width: 15rem;
      object-fit: fill;
    }
  }
}
