@import "../Variables/Variables.scss";

.LandingPage {
  height: 150vh;
  width: 150vw;
  display: grid;
  place-items: center;

  .cosas {
    display: flex;
    flex-direction: column;
  }

  h1 {
    font-size: 2em;
  }

  p {
    font-size: 1em;
  }

  .logo {
    margin-top: -10vh;
  }

  @media only screen and (min-width: 768px) {
    h1 {
      font-size: 5em;
    }

    p {
      font-size: 2em;
    }
  }
}
