@import '../Variables/Variables.scss';

.Map {
  display: grid;
  place-items: center;
  margin: 1rem 1rem;

  .mapbox {
    margin-top: 1rem;
    border: 2px solid $headline;
    border-radius: 10px;
  }

  .infoContainer {
    width: 50vw;
    padding: 1rem;
    column-count: 2;
    text-align: center;

    p {
      margin-top: 0;
      font-weight: bold;
    }
  }
}
