@import "../Variables/Variables.scss";

.NavBar {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  align-items: center;
  justify-items: center;

  .logs {
    display: flex;
  }

  .perfylog {
    display: flex;
    align-items: center;
    align-content: space-around;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}
  

  .giveMeARide {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-left: 10%;
    justify-content: space-evenly;
    align-items: center;
  }

  .logoSubi {
    width: 6rem;
    margin-top: 1.5rem;
    margin-left: 1vw;
  }

  .nombreSubi {
    font-family: "Inter", sans-serif;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-decoration: none;
    margin-top: 2.25vh;
  }

  .izquierda {
    display: flex;
    flex-direction: row;
  }

  .profile {
    display: flex;
    justify-content: flex-end;
    margin-top: 1vh;
  }

  .searchContainer {
    height: 5vh;
    //position: relative;
    display: flex;
    align-items: center;
    //justify-content: flex-end;
    padding-top: 1rem;

    .searchContainerItem {
      text-decoration: none;
      //margin-left: 3rem;
    }
  }
}

.divider {
  border-top: 2px solid #220f0020;
}
