@import "../Variables/Variables.scss";

.NavBar {
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: space-around;

  .logs {
    display: flex;
    justify-items: center;
    justify-content: center;
    align-content: center;
  }

  .divider {
    border-top: 2px solid #220f0020;
    margin: 0.5rem auto;
  }

  .toito {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin-top: -1rem;
  }

  .logoSubi {
    height: 6rem;
    width: 6rem;
    margin-top: -1rem;
  }

  .nombreSubi {
    font-family: "Inter", sans-serif;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  .izquierda {
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
  }

  .derecha {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 2rem;
  }

  .searchContainer {
    height: 5vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0.5rem 3rem;

    .searchContainerItem {
      text-decoration: none;
      margin-left: 3rem;
    }
  }
}
