@import '../Variables/Variables.scss';

.NavBar {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  align-items: center;
  justify-items: center;
  position: sticky;
  z-index: 99999999999;
  top: 0;
  width: 100vw;
  padding-bottom: 1rem;
  // background-color: $navbar;
  background-color: $background;
  border-bottom: 1px solid $footer;
  -webkit-box-shadow: 0px 2px 10px 1px rgba(100, 100, 100, 0.33);
  box-shadow: 0px 8px 18px 1px rgba(100, 100, 100, 0.33);
  transition: background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;

  &:hover {
    -webkit-box-shadow: 0px 5px 15px 1px rgba(25, 25, 25, 0.5);
    box-shadow: 0px 8px 18px 1px rgba(25, 25, 25, 0.5);
    transition: box-shadow 0.5s ease-in-out;
  }

  .logs {
    display: flex;
  }

  .perfylog {
    display: flex;
    align-items: center;
    align-content: space-around;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .giveMeARide {
    display: flex;
    align-items: center;
    align-content: space-around;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    width: 80%;
    align-items: center;
  }

  .logoSubi {
    margin-top: 1.5rem;
    width: 20rem;
  }

  .nombreSubi {
    font-family: 'Inter', sans-serif;
    display: none;
    justify-items: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-decoration: none;
    margin: 0;
  }

  .izquierda {
    display: flex;
    flex-direction: row;
  }

  .profile {
    display: flex;
    justify-content: flex-end;
    margin-top: 1vh;
  }

  .searchContainer {
    height: 5vh;
    display: flex;
    align-items: center;
    padding-top: 1rem;

    .searchContainerItem {
      text-decoration: none;
    }
  }
}
