@import "../Variables/Variables.scss";

.Profile {
  display: flex;
  flex-direction: row;

  .fotoPerfil {
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    border: 1px solid black;
  }
}
