@import "../Variables/Variables.scss";

.formContainer {
  outline: none;
  border-radius: 15px;
  background-color: #78c64433;
  padding: 1rem;
  margin: 0 0;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.5s ease-in-out;
  width: 60vw;
  margin-left: 20vw;

  &:hover {
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
      0 10px 10px -5px rgba(0, 0, 0, 0.04);
  }
}

.Form {
  font-size: 0.8em;
  color: $text;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  // grid-template-columns: 30% 70%;

  .cadaLinea {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-size: 1.2em;
    padding-top: 1rem;
    color: $headline;
  }

  .terminos {
    font-size: 1rem;
    margin-top: 2.5rem;
  }

  .terms {
    width: auto;
    display: flex;
    margin-left: 30.75rem;
    border-radius: 9999px;
  }

  .terminosycond {
    display: grid;
    grid-template-rows: 50% 50%;
  }

  .label {
    width: 10rem;
    display: flex;
    margin-left: 15rem;
    color: $labelForms;
  }

  .inputs {
    border: 0;
    border-bottom: 2px solid $buttonColor;
    cursor: pointer;
    padding-top: 1.5rem;
    width: 20vw;
    font-weight: bold;
    color: $text;
    font-family: inherit;
    transition: background-color 0.5s ease-in-out;
    margin-top: 1rem;
    border-radius: 5px;

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: $buttonColor-33;
    }

    @media only screen and (min-width: 1200px) {
      width: 20vw;
    }
  }

  textarea {
    border: 0;
    border-bottom: 2px solid $buttonColor;
    cursor: pointer;
    padding-top: 0.5rem;
    width: 60vw;
    color: $text;
    font-weight: bold;
    font-family: inherit;
    transition: background-color 0.5s ease-in-out;
    border-radius: 5px;

    &:hover {
      background-color: $buttonColor-33;
    }

    &:focus {
      outline: none;
    }

    @media only screen and (min-width: 1200px) {
      width: 20vw;
    }
  }

  .select {
    width: 60vw;
    height: 2.5rem;
    text-align: center;
    border: none;
    color: $buttonColor;
    font-weight: bold;
    transition: background-color 0.5s ease-in-out;
    border-radius: 5px;
    padding: 0.5rem;
    display: flex;
    margin-left: 0;

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: $buttonColor-33;
    }

    .options {
      font-weight: bold;
    }

    @media only screen and (min-width: 1200px) {
      width: 20.25vw;
    }
  }

  .error {
    color: red;
    position: sticky;
    margin-left: 2rem;
    margin-top: 1.5rem;
  }

  .button {
    margin-top: 2.5rem;
    width: 10rem;
  }

  .buttondisabled {
    margin-top: 2.5rem;
    margin: 0.5rem;
    border: none;
    font-family: inherit;
    border-radius: 9999px;
    font-weight: bolder;
    padding: 1rem 3rem;
    background-color: $buttonDisabled;
    color: $background;
    transition: background-color 0.5s ease-in-out;

    &:hover {
      cursor: pointer;
    }
  }
}
