@import "../Variables/Variables.scss";

.formContainer {
  outline: none;
  border-radius: 15px;

  .Form {
    font-size: 0.8em;
    color: $text;
    font-weight: bolder;

    label {
      text-align: left;
      position: absolute;
      left: 5vw;
      padding-top: 1.5rem;
      color: $headline;

      @media only screen and (min-width: 768px) {
        margin-left: 3.5rem;
      }

      @media only screen and (min-width: 1200px) {
        margin-left: 8rem;
      }
    }

    input {
      border: 0;
      border-bottom: 2px solid $buttonColor;
      cursor: pointer;
      padding-top: 1.5rem;
      width: 60vw;
      margin-left: 5rem;
      font-weight: bold;
      color: $text;
      font-family: inherit;
      transition: background-color 0.5s ease-in-out;

      &:focus {
        outline: none;
      }

      &:hover {
        background-color: $buttonColor-33;
      }
    }

    textarea {
      border: 0;
      border-bottom: 2px solid $buttonColor;
      cursor: pointer;
      padding-top: 0.5rem;
      width: 60vw;
      margin-left: 5rem;
      color: $text;
      font-weight: bold;
      font-family: inherit;
      transition: background-color 0.5s ease-in-out;

      &:hover {
        background-color: $buttonColor-33;
      }

      &:focus {
        outline: none;
      }
    }

    select {
      margin-top: 1.5rem;
      width: 60vw;
      margin-left: 5rem;
      text-align: center;
      border: none;
      color: $buttonColor;
      font-weight: bold;
      transition: background-color 0.5s ease-in-out;

      &:focus {
        outline: none;
      }

      &:hover {
        background-color: $buttonColor-33;
      }

      .options {
        font-weight: bold;
      }
    }

    .error {
      color: red;
    }

    .button {
      margin-top: 2.5rem;
    }
  }
}
