@import '../Variables/Variables.scss';

.RouteCard {
    display:flex;
    width:400px;
    height:250px;
    border: 2px solid black;
    border-radius: 20px;
    border-color: $buttonColor;
    justify-content: space-evenly;
    align-items:center;
    // -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    // box-shadow: 5px 5px 15px 5px #000000;
}