@import "../Variables/Variables.scss";

.RouteDetails {
  .RouteCardContainer {
    display: grid;
    margin: 1rem;
    place-items: center;

    @media only screen and (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: auto;
    }

    @media only screen and (min-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: auto;
    }
  }

  .RouteCard {
    display: grid;
    grid-template-columns: 40% 5% 55%;
    width: 20rem;
    height: 15rem;
    margin: 1rem;
    border-radius: 1rem;
    transition: 0.5s box-shadow ease-in-out;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
      rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;

    @media only screen and (min-width: 1024px) {
      width: 25rem;
      height: 15rem;
    }

    &:hover {
      box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
        rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    }

    hr {
      outline: none;
      border: none;
      border-left: 2px solid $buttonColor;
      margin: 2rem auto;

      @media only screen and (min-width: 1024px) {
        margin: 3rem auto;
      }
    }
  }

  .mensajeRutas {
    display: flex;
    font-size: 1.5rem;
    width: 100vw;
    font-weight: bold;
    margin: 0;
    justify-content: center;
    margin-top: 2rem;
  }
}
