@import "../Variables/Variables.scss";

.searchBar {
  background-color: #edededda;
  border-radius: 1.5rem;
  padding: 0.5rem;

  ::placeholder {
    color: $buttonColor;
  }

  @media only screen and (min-width: 768px) {
    padding: 1rem 3rem;
  }

  @media only screen and (min-width: 1024px) {
    padding: 3rem 6rem;
    margin: auto 18rem;
  }

  .searchBarInputs {
    outline: none;
    font-family: inherit;
    font-weight: 600;
    font-size: 0.8em;
    width: 80%;
    padding: 1rem;
    background-color: transparent;
    border: 0;
    color: $buttonColor;
  }

  hr {
    margin: 0 5%;
    border-top: 2px solid $buttonColor;
  }

  .dateAndSeatsContainer {
    display: flex;
    margin: 0 10%;
  }

  .dateSeatsDivider {
    display: none;
  }

  .dateAndSeatsSelectors {
    background-color: transparent;
    font-family: inherit;
    font-weight: 600;
    font-size: 0.8em;
    height: 3rem;
    width: 50%;
    border: none;
    outline: none;
    color: $buttonColor;
  }
}
