@import '../Variables/Variables.scss';

.SubFooter {
  width: 100vw;
  background-color: $buttonColor;
  padding-bottom: 4vh;
  padding-top: 2vh;

  .buttonSuggestion {
    // margin-top: 1.2rem;
    border: none;
    font-family: inherit;
    border-radius: 9999px;
    font-weight: bolder;
    padding: 0.5rem 2rem;
    background-color: $buttonColorHovered;
    color: $background;
    transition: background-color 0.5s ease-in-out;

    &:hover {
      cursor: pointer;
      background-color: $buttonColorHovered;
    }
  }

  .info {
    display: grid;
    place-items: center;
    color: $background;

    @media only screen and (min-width: 1024px) {
      display: grid;
      grid-template-columns: 20% 30% 15% 15% 20%;
    }
  }

  .left {
    display: flex;
    align-items: center;
    margin: auto;
  }

  .suggestionBoxContainer {
    margin: 2rem auto;
  }

  .redesSociales {
    display: flex;
    justify-content: space-evenly;
    width: 100%;

    a {
      text-decoration: none;
      color: $background;
    }

    .icon {
      font-size: 2rem;
    }
  }
}
