@import "../Variables/Variables.scss";

.SubFooter {
  background-color: $subfooter;

  .buttonSuggestion {
    margin-top: 0.75rem;
    border: none;
    font-family: inherit;
    border-radius: 9999px;
    font-weight: bolder;
    padding: 0.5rem 2rem;
    background-color: $links;
    color: $background;
    transition: background-color 0.5s ease-in-out;

    &:hover {
      cursor: pointer;
      background-color: $buttonBlue;
    }
  }

  .info {
    display: grid;
    grid-template-columns: 5% 55% 15% 20% 5%;
    justify-items: start;
    color: $labelForms;
  }

  .left {
    display: flex;
    align-items: center;
  }

  .redesSociales {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;

    a {
      text-decoration: none;
      color: $links;
    }
  }
}
