@import "../Variables/Variables.scss";

.containerProfile {
  outline: none;
  border-radius: 15px;
  background-color: #ededed;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.5s ease-in-out;
  width: 60vw;
  margin-left: 20vw;
  @media only screen and (max-width: 1024px) {
    margin-left: 5vw;
    margin-right: 5vw;
    width: auto;
  }
  &:hover {
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
      0 10px 10px -5px rgba(0, 0, 0, 0.04);
  }
}

.edadyemail {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  width: 40rem;
  @media only screen and (max-width: 1024px) {
    margin-top: 5%;
    margin-bottom: 5%;
    width: auto;
    flex-direction: column;
  }
  @media only screen and (max-width: 768px) {
    margin-top: 5%;
    margin-bottom: 5%;
    width: auto;
    flex-direction: column;
  }
}

.datosUsuario {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  @media only screen and (max-width: 1024px) {
    align-items: center;
  }
}

.seccionTopDetail {
  display: flex;
  flex-direction: row;
  height: 18rem;
  @media only screen and (max-width: 1024px) {
    height: auto;
    flex-direction: column;
  }
}

.containerPhoto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: min-content;
  margin: 0 2rem;
  @media only screen and (max-width: 1024px) {
    width: auto;
  }
}

.containerUser {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: min-content;
  margin: 0;
}

.searchUsers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.patents {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  align-content: center;
  @media only screen and (max-width: 1024px) {
    flex-direction: column;
  }
}
.moreInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.centralo {
  display: flex;
  justify-content: center;
  height: min-content;
}

.ProfileReal {
  font-size: 0.8em;
  color: $text;
  font-weight: bolder;
  display: flex;
  flex-direction: column;

  .photousuario {
    width: 12rem;
    height: 12rem;
    border-radius: 99999999px;
    margin: 0.5rem;
    margin-top: 1rem;
  }

  .cadaLinea {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.2em;
    padding-top: 1rem;
    color: $headline;
    height: auto;
    min-height: 2rem;
    margin: 0.25rem 0;
  }

  .icon {
    display: flex;
    color: $labelForms;
    margin-right: 3rem;
  }

  .iconArriba {
    display: flex;
    color: $labelForms;
    margin-right: 1rem;
    height: 1rem;
    width: 1rem;
  }

  .botonera {
    margin: 0;
  }

  .botonEdit {
    margin: 0.5rem;
    border: none;
    font-family: inherit;
    border-radius: 9999px;
    font-weight: bolder;
    padding: 1rem 3rem;
    width: auto;
    background-color: $buttonBlue;
    color: $background;
    transition: background-color 0.5s ease-in-out;

    &:hover {
      background-color: $buttonBlueHover;
      cursor: pointer;
    }
  }

  .botonEditDisabled {
    margin: 0.5rem;
    border: none;
    font-family: inherit;
    border-radius: 9999px;
    font-weight: bolder;
    padding: 1rem 3rem;
    width: auto;
    background-color: $buttonDisabled;
    color: $background;
    transition: background-color 0.5s ease-in-out;

    &:hover {
      //   cursor: pointer;
    }
  }

  .paddingAbajo {
    padding-bottom: 4.5rem;
  }

  .label {
    display: flex;
    color: $labelForms;
    height: 2rem;
    margin-right: 2rem;
    width: auto;
    font-size: 1rem;
  }

  .labelArriba {
    display: flex;
    color: $labelForms;
    height: 2rem;
    margin: 0 1rem;
    width: auto;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
  }

  .about {
    display: flex;
    color: $labelForms;
    min-height: 2rem;
    height: auto;
    margin: 0;
    margin-top: 1rem;
    width: auto;
    max-width: 25vw;
    text-align: left;
  }

  .labelEsp {
    display: flex;
    color: $labelForms;
  }
  .inputProfile + .inputProfile {
    margin-left: 0.5rem;
  }

  .inputProfile {
    border: 0;
    cursor: pointer;
    font-weight: bold;
    width: 11.5rem;
    color: $text;
    height: 2rem;
    font-family: inherit;
    font-size: 1rem;
    transition: background-color 0.5s ease-in-out;
    border-radius: 5px;
    display: flex;
    background-color: $background;
    margin-right: 2rem;

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: $buttonColor-33;
    }
  }

  .ubicatop {
    display: flex;
    height: min-content;
  }

  .tituloUserProfile {
    border: none;
    font-family: inherit;
    border-radius: 9999px;
    font-weight: bolder;
    padding: 0.5rem 1.5rem;
    margin: 0;
    width: 15rem;
    background-color: $rojoLogo;
    color: $background;
    height: min-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0;
  }
}
