.landingpage {
    /* background-image: url("../assets/background_dog_4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; */

   /*  D:\Henry\PG-Subi-main\PG-Subi-main\client\src\assets\background_4.jpeg */

    background-image: url("../assets/background_6.jpeg");
    background-position: center; 
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    overflow: hidden;
    height: 100%; 
    position:fixed
}

.bkg {
    position: absolute;
    backdrop-filter: blur(16px);
    width: 100vw;
    height: 100vh;
    background-color: #77777770;
}

.containerAll {
    position: absolute;
    width: 90vw;
    height: 90vh;
    margin: 5vh 5vw;    
    top: 0;
   /*  background-image: url("../assets/background_dog_2.png"); */
    background-position: center; 
    background-size: cover; 
    border-radius: 1.5rem;
}

.container {
    position: absolute;
    width: 99vw;
    height: 99vh;
    margin: 1vh 1vw;    
    top: 0;
}

.title {
    color: #fff;
    flex-direction: column;
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-size: 100px;
    text-align: left;
    /* position: relative; */
}

.buttonPosition{
    margin-top: -40px;
    margin-left: -62%;
} 

.button {
    background-color: transparent;
    flex-direction: column;
    color: #fff;
    font-size: 40px;
    font-family: Lato, Arial, Helvetica, sans-serif;
    border-radius: 9999px;
    border: #fff solid 3px;
    padding: 25px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #fff;
    color: #220F00;
    transition-delay: 0.2s;
    transition: 0.8s;
}


  
 @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');