  /* .paged {
    text-decoration: none;
  } 
  
  .listContainer {
    display: inline-flex;
    flex-direction: row;
  }
  
  .number {
    color: rgb(26, 16, 16);
    list-style: none;
    padding: 1px;
    font-size: 16px;
    font-family: Lato, Arial, Helvetica, sans-serif;
    text-align: center;
  }
  
  .link {
    color: #fff;
    display:inline-flex;
    padding: 10px;
    margin: 2px;
    border: none;
    cursor: pointer;
    background-color: #c485ba83;
    border-radius: 10%;
    list-style:none;
    width: 10px;
    height: 10px;
    font-size: 12px;
    align-items: center;
  }    
  
  .link:hover {
    background-color: #fff;
    border: none;
    color: #220F00;
    transition-delay: 0.2s;
    transition: 0.8s;
  }     */